*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   

}
.act {
    display: flex;
    border: 0 1px 1px 0 solid black;
    justify-content: space-between;
    
}
.titre{
    width: 400px;
    margin-bottom: 20px;
}
.bouton{
    display: flex;
   
    
}
.ajout{
 margin-right: 20px;
}


header{
    background-color: rgb(37, 35, 35);
    display: flex;
    color: white;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;

    
}
.subhead{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 50px;

}
.subhead h1 {
    font-size: 40px;
    margin-left: 50px;
}
img{
    width: 100px;
    height: 100px;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: 90vh;
    margin: 0 ;
    
}
table {
    width: 700px;
    height: 300px;
    border-collapse: collapse;
    text-align: left;
    margin: 20px 0 120px 0;
   
}
.add_proj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 600px;
    height: 400px;
    padding: 10px;

} 
.add_proj label{
    margin-bottom: 30px;
}
 textarea{
    width: 400px;
    height: 200px;
}
table th, td {
    padding: 10px 25px 10px 25px;
    border: 1px solid rgb(12, 10, 10);
    
}
.projet_head{
    background-color: gray;
}
.divide{
    width: 1px;
    border-right: 1px solid black;
}
a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    

}
.btn1{
    border: 1px solid rgb(12, 10, 10);
    width: 100px;
    height: 50px;
    text-align: center;
    padding-left: 10px;
}
.foo{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1000px;
    height: 60px;
    color: white;
    font-size: 10px;
    width: 100%;
}
footer{
    background-color: gray;
    width: 100%;

}
.projet{
    text-align: center;
    justify-content: center;
    color: white;
    
}
.projet1{
    text-align: center;
    justify-content: center;
    
    
}

  

.back{
    display: flex;
    margin: 25px 0 100px 0;
    justify-content: start;
    align-items: flex-start;
}
.sub{
    background-color: white;
    border: none;
    width: 100px;
    height: 45px;
    border: 1px solid black;
    margin-top: 20px;
    
}
.pagedesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 50%;
}
.pagedesc p{
    margin-top: 30px;

}
@media screen and (max-width: 800px) {
  .subhead h1 {
font-size: 20px;
  }
  table{
      width: 300px;
  }
  .projet1{
      font-size: 10px;
  }

  .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .ajout{
      margin: 0;
      padding: 0;
  }
}
